@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.json-container {
    padding: 30px;
}

.heading {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 600;
}

.bikes {
    background-color: #f3f3f3;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.person-list {
    background-color: #f3f3f3;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.todos-list {
    background-color: #f3f3f3;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}